<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>ELS is template engine</h1>
    <h1 style="color: purple">
    Hi <%= locals.user.firstName%> - <%=locals.user.lastName %>
    <% if (locals.login) { %>
    <h2>Welcom</h2>
    <% } else { %>
    <h2>Please login</h2>
    <% } %>
    <% for(const key in student ){ %>
      <h2><%=key%> <%= student[key]%></h2> 
        <% } %>
    </h1>
</body>
</html>