<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
 <title></title>
</head>
<%- include('partials/headers') %>
<body>
    <h1>Shop</h1>
    <%- include('partials/footer') %>
    
</body>
</html>