* {
    /* border: 1px solid red; */
    margin: 0;
}
.left-logo {
    width: 400px;
    background-color: bisque;
    font-family: 'Ubuntu', sans-serif;
  
}
@media screen and (min-width: 768px) {
    .left-logo {
        background-color: #8FBC8F;
    }
}
.main {
    display: flex;
    position: relative;
    border: 1px solid gray;

}


.rigth-info {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 800px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid gray;
}
.profile {

margin: 10px;
margin-top: 60px;

}
.profile p {
    line-height: 1.5;
}

.education {

    margin: 10px;
    line-height: 1.5;
}

.skills {
    margin: 10px;
    display: flex;
    position: relative;
   flex-direction: column;
}
.sk {
  
    display: flex;
    position: relative;
    flex-direction: row; 
    justify-content: space-around;
}
.skills1 {
width: 200px;
margin: 20px;
}
.skills2 {
    width: 200px;
    margin: 20px;
}

.prof-experience {
   
    margin: 10px
}
.prof-experience p {
    margin-top: 10px;
    line-height: 1.5;
}

.photo {
    display: flex;
 
  
   margin-top: 100px;
   margin-bottom: 30px;
   padding: 20px;
   padding-left: 50px;
   position: relative;
flex-direction: row;
justify-content: center;
   
}
.photo img {
    display: block;
    border-radius: 150px;
    width: 250px;
   
}

.name {
    height: 150px;
    margin: 10px
}
.name h1 {
    font-size: 50px;
    text-align: center;
}
.name:hover {
    color: white;
}

.market {
    height: 70px;
    margin: 10px;

}
.market h2 {
    text-align: center;
    display: none;
}

@media screen and (min-width:480px) {
    .market h2 { display: block;
    }
}

.info {
  
    margin: 10px;
    margin-top: 30px;
display: flex;
margin-bottom: 30px;
position: relative;
flex-direction: column;
text-align: center;
    
}
.info p {
margin: 10px;
}
.info l {
    margin: 10px;
    }


.SS {
    
    margin: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.in, .tw, .fb {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    margin: 20px;
   
}
.in i, .tw i, .fb i {
    font-size: 40px;
    color: black;
    
}



.in, .tw, .fb, a {
    text-decoration: none;
    color: black;
}