<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {%block content%}
    <h2>Customer List</h2>

    <table>
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Email</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
          <tr>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone_number }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {%endblock%}
</head>
<body>
    
</body>
</html>